@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LC.Crawler.BackOffice.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LC.Crawler.BackOffice.Web.Pages.ProductReviews
@using LC.Crawler.BackOffice.ProductReviews;
@using System.Globalization
@inject IHtmlLocalizer<BackOfficeResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/ProductReviews/CreateModal" autocomplete="off">
    <abp-modal id="ProductReviewCreateModal">
        <abp-modal-header title="@L["NewProductReview"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="ProductReview.Name"/>

            <abp-input asp-for="ProductReview.Content"/>

            <abp-input asp-for="ProductReview.Rating"/>

            <abp-input asp-for="ProductReview.CreatedAt" value="" type="date"/>

            <abp-input asp-for="ProductReview.Likes"/>

                                <label for="Product_Name">@L["Product"] *</label>
            <div class="input-group mb-3">
                <input hidden value="@(Model.ProductReview.ProductId  == default ? "": Model.ProductReview.ProductId.ToString()
)" id="Product_Id" name="ProductReview.ProductId"/>
                <input type="text" id="Product_Name" class="form-control" disabled>
                <abp-button button-type="Info" id="ProductLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                <abp-button button-type="Danger" class="lookupCleanButton ms-1"><i class="fa fa-times"></i></abp-button>
            </div>

                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>