@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using LC.Crawler.BackOffice.Permissions
@using LC.Crawler.BackOffice.Web.Pages.ProductReviews
@using LC.Crawler.BackOffice.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using LC.Crawler.BackOffice.Localization
@inject IHtmlLocalizer<BackOfficeResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ProductReviews"].Value;
    PageLayout.Content.MenuItemName = BackOfficeMenus.ProductReviews;
}

@section scripts
{
    <abp-script src="/Pages/ProductReviews/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(BackOfficePermissions.ProductReviews.Create))
    {
        <abp-button id="NewProductReviewButton" text="@L["NewProductReview"].Value" icon="plus" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ContentFilter" label="@L["Content"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="RatingFilterMin" label="@L["MinRating"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="RatingFilterMax" label="@L["MaxRating"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="CreatedAtFilterMin" label="@L["MinCreatedAt"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="CreatedAtFilterMax" label="@L["MaxCreatedAt"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="LikesFilterMin" label="@L["MinLikes"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="LikesFilterMax" label="@L["MaxLikes"].Value" />
            </abp-column>
                <abp-column size="_3">
                    <label for="Product_Filter_Name">@L["Product"]</label>
                    <div class="input-group mb-3 mt-2">
                        <input hidden id="ProductIdFilter" />
                        <input type="text" id="Product_Filter_Name" class="form-control" disabled>
                        <abp-button button-type="Info" id="ProductFilterLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                        <abp-button button-type="Danger" class="lookupCleanButton ms-1"><i class="fa fa-times"></i></abp-button>
                    </div>
                </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="ProductReviewsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Name"]</th>
					<th>@L["Content"]</th>
					<th>@L["Rating"]</th>
					<th>@L["CreatedAt"]</th>
					<th>@L["Likes"]</th>
					<th>@L["Product"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>