@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LC.Crawler.BackOffice.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LC.Crawler.BackOffice.Web.Pages.Articles
@using LC.Crawler.BackOffice.Articles;
@using System.Globalization
@inject IHtmlLocalizer<BackOfficeResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Articles/CreateModal" autocomplete="off">
    <abp-modal id="ArticleCreateModal">
        <abp-modal-header title="@L["NewArticle"].Value"></abp-modal-header>

        <abp-modal-body>
             <abp-tabs>
                <abp-tab title="@L["Article"].Value">
                    
            <abp-input asp-for="Article.Title"/>

            <abp-input asp-for="Article.Excerpt"/>

            <abp-input asp-for="Article.Content"/>

            <abp-input asp-for="Article.CreatedAt" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-input asp-for="Article.Author"/>

            <abp-input asp-for="Article.Tags"/>

            <abp-input asp-for="Article.LikeCount"/>

            <abp-input asp-for="Article.CommentCount"/>

            <abp-input asp-for="Article.ShareCount"/>

                    
                </abp-tab>
                                <abp-tab title="@L["Categories"].Value">
                    <div class="input-group mb-3">
                        <select id="CategoryLookup"
                                        name="CategoryLookup"
                                        class="custom-select form-control"
                                        style="width: 85%"
                                        data-value="">
                        </select>
                        <abp-button button-type="Info" id="AddCategoryButton" class="text-light">@L["Add"]</abp-button>
                    </div>

                    <abp-row>
                        <abp-table style="display:none" id="CategoryTable">
                            <thead Theme="Dark">
                            <tr style="text-align: center; vertical-align: middle;">
                                <th scope="Column" style="text-align: left">Name</th>
                                <th scope="Column"></th>
                            </tr>
                            </thead>
                            <tbody id="CategoryTableRows">
                            </tbody>
                        </abp-table>
                    </abp-row>
                 </abp-tab>

            </abp-tabs>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>