@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using LC.Crawler.BackOffice.Permissions
@using LC.Crawler.BackOffice.Web.Pages.DataSources
@using LC.Crawler.BackOffice.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using LC.Crawler.BackOffice.Localization
@inject IHtmlLocalizer<BackOfficeResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["DataSources"].Value;
    PageLayout.Content.MenuItemName = BackOfficeMenus.DataSources;
}

@section scripts
{
    <abp-script src="/Pages/DataSources/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(BackOfficePermissions.DataSources.Create))
    {
        <abp-button id="NewDataSourceButton" text="@L["NewDataSource"].Value" icon="plus" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="UrlFilter" label="@L["Url"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsActiveFilter" label="@L["IsActive"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="PostToSiteFilter" label="@L["PostToSite"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="DataSourcesTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Url"]</th>
					<th>@L["IsActive"]</th>
					<th>@L["PostToSite"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>